<footer class="bg-color footer mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12">
        <h3 class="text-white">Phonebook </h3>

      </div>
      <div class="col-md-6 col-sm-12  text-center">
        <ul >
          <li>
            <a  class="lang " key="about-us">HOME</a>
          </li>
        </ul>

      </div>
      <div class="col-md-4 col-sm-12 icons text-end">
     
        <a href="https://www.linkedin.com/in/rostam-sadiqi-aa0003119/" target="_blank"> <i class="fab fa-linkedin"
            aria-hidden="true"></i></a>
        <a href="https://dribbble.com/rostamsadiqi" target="_blank"> <i class="fab fa-dribbble-square"
            aria-hidden="true"></i></a>
        <a href="https://github.com/rostamsadiqi" target="_blank"><i class="fab fa-github"
            aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
