footer {
  min-height: 80px;
  padding: 30px 10px;
  width: 100%;
  position:absolute;
  bottom: 0;

}


footer ul {
  list-style-type: none;
}

footer a {

  text-decoration: none;
  color: white;
}

.fab {
font-size: 25px;
padding-right: 10px;
}